<div ng-switch="calendarMode">
    <div class="calendar-navbar">
        <div class="nav-left">
            <button type="button" class="button button-small button-calm month-prev" ng-click="move(-1)"><i
                    class="ion ion-arrow-left-b"></i></button>
        </div>
        <div class="calendar-header">{{ title | germanDate }}</div>
        <div class="nav-right">
            <button type="button" class="button button-small button-calm month-next" ng-click="move(1)"><i
                    class="ion ion-arrow-right-b"></i></button>
        </div>
    </div>
    <dayview ng-switch-when="day"></dayview>
    <monthview ng-switch-when="month"></monthview>
    <weekview ng-switch-when="week"></weekview>
</div>
